*{
	margin: 0;
	padding: 0;
}

.body1{
  /*background-image: url('../images/cielo-azul.jpg'); center center cover no-repeat fixed;*/
  background: #DCE7EF;
  font-family: 'Raleway', 'Open Sans', helvetica, Arial, Sans-serif;
  font-weight: 300;
  padding-top: 0px !important;
}

/*Al poner el logo, solo se modifican:
.nav li a, navbar, header, slider1, .lista-navegacion*/

header{
	/*background-image: url('../images/cielo-azul.jpg'); center center cover no-repeat fixed;*/
	/*background: #2c3e50;*/
	/*background: #C6C6C6;*/
	background-color: #fff;
	/*color: #fff;*/
	/*padding-top: 10px;*/
	/*margin-top: 4%;*/
	/*margin-bottom: 15px;*/
	height: 40px;
	/*margin-left: 7%;*/
	/*Para decir que queremos trabajar con flexbox*/
	display: flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content: center;
	align-items:center;
}
/*clase para header pegajoso, lo usamos en local.js*/
.menu-fixed {
	position:fixed;
	z-index:1000;
	top:0;
	/*max-width:1000px;*/
	width:100%;
	box-shadow:0px 4px 3px rgba(0,0,0,.1);
}
.main{
	/*background: #f2f2f2;*/
}

.color1{
	/*background: #34495e;
	color: #fff;*/
}

aside{
	/*background: #c0392b;
	color: #fff;*/
}
a:hover{
	/*color: #fff;*/
}
h1,h2,h3,h4,h5{
	font-family: 'Raleway', 'Open Sans', Arial, Sans-serif;
}

/*.img-koala{
	width: 1200px;
	height: 400px;
}*/

/*go up*/
.go-up{
	display:none;
	padding:12px;
	background:rgba(0,0,0,.3);
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
}

/*********************/
/******* BLOG ********/
/*********************/



/***************************************/
/******** HEADER SITIO WEB BLOG ********/
/***************************************/
.navbar-toggle{
	background: #01202A !important;
}
.navbar-toggle span{
	background: #fff !important;
}
.navbar-header{
	width: 100%;
	padding: 10px 0px;
}
.navbar{
	width: 100%;
	padding: 0px 0px;
	/*Quitar lo de abajo al poner el logo*/
	top: -15px;
	height: 40px;
	margin-bottom: 0px !important;
}
.navbar-brand{
	color: #01202A;
	/*sin texto / con logo*/
	padding: 0px !important;
	/*con texto / sin logo*/
	/*padding: 15px !important;*/
	/*margin-top: 5px;*/
}
.navbar-brand img{
	width: 260px;
	/*width: 320px; */
	/*height: 100px;*/
	/*margin-top: -80px;*/
	margin-top: 8px;
	margin-left: 30px;
	/*margin-right: -50px;*/
	background: transparent;
}
.navbar-brand:hover{
	color: #08AAD2;
}
.lista-navegacion{
	/*width: 790px; Con logo*/
	width: 730px;
}
.btn-buscar{
	padding: 8px 8px !important;
}
.btn-buscar:hover{
	cursor: pointer;
	color: #08AAD2 !important;
}
.input-buscar{
	width: 700px !important;
	margin-left: -645px !important;
	margin-top: 37px !important;
	background: transparent !important;
	background-color: rgba(180,216,231,.2) !important;
	border: 1px solid #08AAD2 !important;
	position: absolute !important;
	color: #fff !important;
	font-size: 16px !important;
}
#input-buscar::placeholder{
	color: #fff;
	opacity: 1;
	font-size: 16px;
}
.collapse{
	margin: auto;
	/*Esto para que el botón de buscar quede a la derecha porque por algun error no se pone a la derecha con el navbar-right*/
	/*width: 160% !important; */
	/*width: 103% !important; */
}
/*.btn-gt{
	background: #06C7EA;
}
.btn-gt:hover{
	background: #08A6C3;
	color: #fff;
}*/
.nav li a{
	color: #01202A;
	/*font-weight: bold;*/
	/*font-size: 16px; Con logo. Quitar lo de abajo al poner el logo*/
 	font-size: 14px;
 	padding-top: 15px !important;
 	padding-bottom: 10px !important;
}
.item-menu:hover,
.item-menu:focus {
	text-decoration: none !important;
	/*color: #1B5058 !important;*/
	/*background-color: #f5f5f5;*/
	background-color: rgba(180,216,231,.2) !important;
}
.navbar{
	/*Para que no tengamos el margen entre el header y el jumbotron*/
	margin-bottom: 0;
	font-family: 'Raleway', 'Open Sans', Arial, Sans-serif;		
}
.jumbotron-gt{
	background: #06C7EA;
	color: #fff;
	padding: 20px 0px;
}	
/*menu*/
.servicios:hover{
	 
}
.dropdown-menu{
	width: 300px;
	background-color: rgba(180,216,230,.2) !important;
	left: -90px !important;
}
.dropdown-menu li a{
	display: block !important;
    padding: 3px 20px !important;
    clear: both !important;
    font-weight: 400 !important;
    line-height: 1.42857143 !important;
    /*color: #333 !important;*/
    color: #DCE7EF !important;
    white-space: nowrap !important;
}
.dropdown-menu > li ul > li > a:hover,
.dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: #444;
  /*background-color: #f5f5f5;*/
  background-color: rgba(0,0,0,.2);
  transition-duration: 1s;
}
.dropdown-submenu {
    position: relative !important;
    /*width: 190px !important;*/
    list-style: none !important;
    height: 100% !important;	
}
.dropdown-submenu ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.flecha-indicadora:before {
  content: "";
  border-bottom: 15px solid rgba(180,216,231,.2);
  border-right: 17px solid transparent;
  border-left: 17px solid transparent;
  position: absolute;
  top: -20px;
  left: 130px;
  z-index: 10;
}
.dropdown-header {
  /*color: #428bca !important;*/
  /*color: #77DDFF !important;*/
  color: white !important;
  /*color: #60F3FF !important;*/
  font-size: 18px !important;
  /*font-weight::; bold !important;*/
}
.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}
/***************************************/
/******** HEADER SITIO WEB BLOG ********/
/***************************************/




/*************************************/
/******** MAIN SITIO WEB BLOG ********/
/*************************************/

/*POST*/
.main{
	margin-top: 20px;
	margin-bottom: 20px;
}

.post{
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #999;
}
.post .post-tittle a{
	color: #333;
}
.post .thumb{
	margin-right: 10px;
	width: 40%;
}
/*La imagen mide el 100% de lo que mide el contenedor (el thumb), entonces medirá en realidad 40%*/
.post .thumb img{
	width: 100%;
}
.post .contenedor-botones{
	width: 100%;
}
/*POST*/



/*SIDEBAR*/
.aside1{
	/*background: #fff;*/
}
/*SIDEBAR*/



/*SLIDER*/
/*En bootstrap-corousel.css está lo demas*/
.slider1{
	margin-bottom: 5px;
	/*margin-top: -20px; Con logo*/
	margin-top: -30px;
	/*background-color: #08AAD2;*/
}
.img-bg-sobre{
	/*Para poner la sobreimagen más pequeña descomentar width, height, left and top*/
	width: 450px !important;
	height: 300px !important; 
	/*width: 100% !important;
	height: 550px !important; */
	background:#000;
	/*background:rgba(26,74,114,0.6);*/
	background:rgba(0,0,0,.7);
	position: absolute;
	top: 0 ;
	opacity:.9;
	/*position: absolute;*/
	left: 60%;
	top: 30%;
}
.carousel-caption{
	height: 100%;
	top: 0%;
}
.items img{
	width: 100% !important;
	/*height: 370px !important; */
	height: 550px !important; 
	position: relative;
}
.items h3{
	/*color: #60F3FF;*/
	color: #fff;
	font-size: 40px;
}
.items p{
	color: #fff;
	font-size: 18px;
}
.carousel-control{
	visibility: hidden !important;
}
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-next, 
.carousel-control .icon-prev{
	top: 350% !important;
}
.flechas{
	visibility: visible !important;
	margin-top: 40px !important;
}
/*SLIDER*/

/*************************************/
/******** MAIN SITIO WEB BLOG ********/
/*************************************/



/*FOOTER*/
.footer{
	/*background-color: rgba(0,0,0,.20);*/
	background: url("../images/fondo-footer.png");
}
.footer h4{
	color: #01202A;
}
/*EXTRA*/
.mas-contenido{
	padding: 10px;
	background: #231f20;
	color: #fff;
}
/*PRIMELA FILA*/
.primera-fila{
	margin-top: 10px;
}
.list-group .list-group-item{
	background: rgba(0,0,0,.1);
	/*background: hsl(195, 85%, 66%);*/
	border: 0px;
	color: #01202A;
}
.list-group a:hover{
	/*text-decoration: underline !important; */
	color: #08AAD2 !important;
	background: transparent !important;
}
.twitter-timeline{
	margin-top: 10px !important;
}
.fb-like{
	margin-top: 100px !important;
}
/*PRIMELA FILA*/
/*SEGUNDA FILA*/
footer{
	/*background: #fff;*/
	font-family: 'Raleway', 'Open Sans', Arial, Sans-serif;
	font-weight: 300;
	color: #fff;
	padding: 15px;	
}
footer .list-group li{
	color: #fff;
}
.list-group{
	text-align: center;
	/*background: #e5e5e5;*/
}
.list-group .list{
	display: inline-block;
	color: #01202A;
}
.icon-social-links{
	font-size: 16px;
	font-weight: 300px;
}
.links{
	color: #01202A;
}
.links:hover{
	text-decoration: none;
}
/*SEGUNDA FILA*/
/*FOOTER*/



/*PANELES*/
/*El jumbotron de contacto en la pág index.php también se desaparece*/
/*Si quiero que ese no se desaparezca, tengo que cambiar el nombre (la clase ) jumbotron por otro */
/*en las demás páginas y cambiarlo aquí*/
.jumbotron{
	background: transparent !important;
}
/*PANELES*/





/*********************************/
/******** NOTICIAS / BLOG ********/
/*********************************/
/*Contenido Noticias Blog*/
/*Tiene el about-h3, por eso es raleway en el tipo de letra*/
.about-h3{
	font-family: 'Raleway', 'Open Sans', Arial, Sans-serif;
	font-weight: 300;
}
.col-about{
	color: #385165;
}
.cont-noti-blog{
	margin-bottom: 50px;
}
.cont-img-noti-blog{
	/*width: 459px;
	height: 326px;
	display: inline-block;
	float: left;
	margin-right: 30px;*/
}
.img-noti-blog{
	width: 100%;
}
.text-noti-blog{
	margin-bottom: 50px;
}
/*Contenido Noticias Blog*/





/**************************/
/******** MODALES *********/
/**************************/
.email-sent{
	width: 246px;
	height: 35px;
	display:none;
	padding:12px;
	background:rgba(0,0,0,.3);
	font-size:20px;
	color:#fff;
	/*cursor:pointer;*/
	position: fixed;
	bottom:20px;
	right:20px;
}
/*Modal*/
.input1{
	margin-bottom: 20px;
}
.modal-body{
	margin-bottom: 150px !important;
}



/*Media querie*/
/*Para que la imagen abarque el 100% en movil. sitioweb.html*/
@media screen and (max-width: 768px){
	.post .thumb{
		width: 100%;
		margin-bottom: 20px;
		margin-right: 0px;
	}
	.btn-c{
		vertical-align: middle;
		display: inline-block;
		margin-left: 300px;	
	}
	/*logo header*/
	.navbar-brand{
		margin-top: 20px;
	}
	/*Slider*/
	.img-bg-sobre{
		/*Para poner la sobreimagen más pequeña descomentar width, height, left and top*/
		width: 250px !important;
		height: 150px !important; 
		/*width: 100% !important;
		height: 550px !important; */
		background:#000;
		/*background:rgba(26,74,114,0.6);*/
		background:rgba(0,0,0,.7);
		position: absolute;
		top: 0 ;
		opacity:.9;
		/*position: absolute;*/
		left: 25%;
		top: 20%;
	}
	.carousel-caption{
		height: 100%;
		/*line-height: 1px;*/
		top: -10px;
	}
	.slider1{
		margin-top: 50px;
	}
	.item img{
		height: 230px !important;
	}
	.items h3{
		color: #60F3FF;
		font-size: 14px;
	}
	.items p{
		/*line-height: 0.5px;*/
		color: #fff;
		font-size: 10px;
	}
		.flechas{
		margin-top: -40px;
	}
	.carousel-control .glyphicon-chevron-left, 
	.carousel-control .glyphicon-chevron-right, 
	.carousel-control .icon-next, 
	.carousel-control .icon-prev{
		top: -100% !important;
	}
	/*Slider*/
}
@media screen and (max-width: 1024px){
	.img-equipo-web{
		margin-left: 220px;
	}
}
/*para que el boton de contacto esté en el centro*/
@media screen and (max-width: 375px){
	.btn-c{
		vertical-align: middle;
		display: inline-block;
		margin-left: 110px;	
	}
}



